<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Give Alms</h3>
                    <p>
                        No 17 G2 Street <br>
                        Olomore, Abeokuta<br>
                        Ogun State <br>
                        Nigeria.<br><br />
                        <strong>Phone:</strong> +234 09023 0484 59<br>
                        <strong>Email:</strong> durosinmiabdulsobuur@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#services">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#clients">Our Partners</a></li>
                        <li>@Html.ActionLink("Register", "Create", "Signups")</li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://www.formpl.us/form/6596205387448320">Donation</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Corporation</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Funds</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Subscribe here </p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Give Alms</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://lucent-mousse-4b6adf.netlify.app/">Durosinmi AbdulSobuur</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://twitter.com/Olamile21820556" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://web.facebook.com/le.frosh.9    " class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/le.frosh.9/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://secure.skype.com/portal/overview" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/in/abdulsobuur-durosinmi-748227215/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/assets/vendor/purecounter/purecounter.js"></script>
<script src="~/assets/vendor/aos/aos.js"></script>
<script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Template Main JS File -->
<script src="~/Scripts/js/main.js"></script>

</body>

</html>